html,
body {
  background: #141524;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #ffffff;
}
#menu {
  background-color: #141524;
  border-right: 1px solid #1e1f32;
}
#menu.menu-active {
  opacity: 0.8;
}
.about-menu {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 70px;
  background: #181a2b;
  border-bottom: 1px solid #1e1f32;
}
.about-menu:hover a {
  opacity: 1;
}
.about-menu ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.about-menu ul li {
  float: left;
}
.about-menu ul li a {
  font-size: 1.4em;
  color: #141524;
  font-weight: 400;
  margin: 0;
  line-height: 1.6em;
  padding: 10px 15px;
  color: #ffffff;
  display: inline-block;
  opacity: 0.3;
}
.about-menu ul li a.active {
  opacity: 1;
}
.container-fluid {
  border-left: 1px solid #1e1f32;
}
.container-fluid .col-md-12 {
  padding-right: 0;
}
.container-fluid section {
  width: 100%;
  display: inline-block;
  padding: 15px;
  border-top: 1px solid #1e1f32;
}
.container-fluid section#about {
  position: absolute;
  top: 0;
  height: 700px;
  padding: 155px 15px 0;
  text-align: center;
  background: #141524;
  z-index: 0;
  width: 100%;
  -webkit-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}
.container-fluid section#about img {
  width: 341px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.container-fluid section#experience {
  position: absolute;
  top: 701px;
  height: 800px;
  padding: 150px 15px;
  background: #181a2b;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #1e1f32;
  text-align: center;
}
.container-fluid section#experience h3 {
  color: #b1b3c3;
  margin-bottom: 30px;
}
.container-fluid section#experience .col-md-1 {
  margin: 30px 0;
}
.container-fluid section.about-offset {
  margin-top: 1100px;
  padding: 20px 15px 30px;
  position: relative;
}
.container-fluid section#philosophy {
  padding: 0;
}
.container-fluid section#philosophy .col-md-6 {
  padding: 15px;
}
.container-fluid section#philosophy .left {
  background: #1e1f32;
  height: 720px;
  position: relative;
}
.container-fluid section#philosophy .left #responsive-screens {
  position: absolute;
  width: 566px;
  height: 511px;
  left: 0;
  top: 100px;
}
.container-fluid section#philosophy .left #responsive-shape {
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 50px;
}
.container-fluid section#philosophy .right {
  background: #232438;
  padding: 10% 12%;
  height: 720px;
}
.container-fluid section#philosophy .right h2 {
  margin-bottom: 20px;
}
.container-fluid section#philosophy .right h4 {
  color: #b1b3c3;
}
.container-fluid section#skills {
  padding: 10%;
  text-align: center;
}
.container-fluid section#skills h2 {
  font-size: 5em;
}
.container-fluid section#skills h2,
.container-fluid section#skills h3,
.container-fluid section#skills img {
  margin: 25px 0;
}
.container-fluid section#skills h3 {
  line-height: 1.8em;
}
.container-fluid section#cv-download {
  padding: 100px 50px 50px;
}
.container-fluid section#cv-download a {
  margin-top: 150px;
  position: relative;
  display: inline-block;
}
.container-fluid section#cv-download a span {
  width: 175px;
  position: absolute;
  z-index: 2;
  top: 50px;
  font-size: 2.5em;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  line-height: 1.25em;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.container-fluid section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container-fluid section ul li {
  float: left;
  display: inline-block;
  width: 25%;
  border-left: 1px solid #1e1f32;
  text-align: center;
  min-height: 200px;
  padding-top: 80px;
}
.container-fluid section ul li:first-child {
  border: none;
}
.container-fluid section .svg-wrapper {
  position: relative;
  margin: 80px 0 80px;
  text-align: center;
  display: inline-block;
}
.container-fluid section .svg-wrapper #bubble-1 {
  position: absolute;
}
.container-fluid section .svg-wrapper #compLine {
  position: absolute;
  top: 35px;
  right: 12px;
}
.container-fluid section .svg-wrapper .arrow-about {
  margin-top: 30px;
}
#qunit-fixture {
  position: static;
  height: 4000px;
  width: 4000px;
}
#qunit-fixture span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  visibility: hidden;
}
#position-fixed span {
  position: fixed;
}
#background-attachment-fixed span {
  background-attachment: fixed;
}
#background-vertical-only span {
  background-position: 100% 0px;
}
#background-horizontal-only span {
  background-position: 0px 100%;
}
.offset-parent {
  position: absolute;
  top: 0;
  left: 0;
}
.default-offset-parent {
  position: absolute;
  top: 20px;
  left: 20px;
}
.custom-offsets {
  position: absolute;
  top: 20px;
  left: 20px;
}
#scroll-property-transform {
  position: absolute;
  top: 0;
  left: 0;
}
@media all and (max-width: 991px) {
  .about-menu {
    display: none;
  }
  .row {
    margin: 0;
  }
  .container-fluid {
    padding: 0;
  }
  .container-fluid .col-md-12 {
    padding: 0;
  }
  .container-fluid section#about {
    padding: 60px 0;
    height: 650px;
  }
  .container-fluid section#experience {
    background: #141524;
    height: inherit;
  }
  .container-fluid section#experience.mobile-response {
    padding: 50px 15px;
    background: #181a2b;
  }
  .container-fluid section#experience.mobile-response .col-md-1 {
    display: none;
  }
  .container-fluid section#experience.mobile-response .svg-wrapper {
    margin-top: 0;
  }
  .container-fluid section#experience.mobile-response .about-arrow-wrapper {
    display: none;
  }
  .container-fluid section#philosophy .col-md-6.left {
    height: 400px;
  }
  .container-fluid section#philosophy .col-md-6.left #responsive-screens {
    top: 0;
    height: 400px;
    left: 0;
    width: auto;
  }
  .container-fluid section#philosophy .col-md-6.left #responsive-shape {
    top: 15px;
    left: 0;
    width: 100%;
  }
  .container-fluid section#philosophy .col-md-6.right {
    height: auto;
  }
  .container-fluid section#skills h2 {
    font-size: 3em;
  }
  .container-fluid section.list ul {
    width: 50%;
    float: left;
    display: inline-block;
  }
  .container-fluid section.list ul li {
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: initial;
    border-left: 0;
    text-align: left;
  }
}
@media all and (max-width: 560px) {
  .container-fluid section#philosophy .col-md-6.left #responsive-shape {
    left: -120px;
  }
  .container-fluid section#philosophy .col-md-6.left #responsive-screens {
    width: 95%;
  }
  .container-fluid section#cv-download {
    padding: 100px 20px 50px;
    margin-bottom: 50px;
  }
}
