body {
  -webkit-animation: bodychange 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-animation: bodychange 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-animation: bodychange 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  animation: bodychange 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  /* easeInOutQuart */
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes bodychange {
  0% {
    background-color: #080a19;
  }
  100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes bodychange {
  0% {
    background-color: #080a19;
  }
  100% {
    background-color: #ffffff;
  }
}
.col-md-4 {
  border-color: #d1d1d1;
  border-width: 0 0 1px 1px;
  border-style: solid;
  padding: 10% 0;
  height: 600px;
  text-align: center;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.col-md-4.active {
  width: 100%;
  height: 100%;
}
.col-md-4.active .desc {
  bottom: 30%;
}
.col-md-4.inactive {
  opacity: 0;
  padding: 0;
  height: 0;
  width: 0;
}
.col-md-4 .desc {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 30px;
  -webkit-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -moz-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -ms-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}
.col-md-4 .desc h2,
.col-md-4 .desc h3 {
  color: #141524;
}
@media all and (max-width: 800px) {
  .container-fluid .col-md-4 {
    height: 600px;
  }
}
@media all and (max-width: 560px) {
  .container-fluid .col-md-4 {
    height: auto;
  }
  .container-fluid .col-md-4 .desc {
    display: none;
  }
}
