@import url("../lessGlobals/colour.less");
@import url("../lessGlobals/font.less");
@import url("../lessGlobals/mixins.less");

body{
	background: @white;
	color: @textcolor;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	opacity: 0;

	.animate;

	&.loaded{
		opacity: 1;
	}
}

h1{
	.h1;
}

h2{
	.h2;
}
	
h3{
	.h3;
}

h4{
	.h4;
}

h5{
	.h5;
}

h6{
	.h6;
}

p{
	.p;

	&.largeFont{
		font-size: 1.4em;
	}
}

a{
	opacity: 1;
	.animate(1s);
	
	&:hover{
		text-decoration: none;
		opacity: 0.8;
	}
}

.up{
	text-transform: uppercase;
}

.lite{
	font-weight: 300;
}

.centered{
	text-align: center;
}

#page-wrapper{
	.animate(2s);
}

svg{
	overflow: visible;
}

.fadeIn{
	.keyframeAnimation(fadeIn, 2s);
}

.loader-shape-wrapper{
	display: none;
	position: absolute;
	top: 180px;
	left: 0;
	margin: auto;
	right: 0;
	text-align: center;
}

.form-wrapper{
	position: relative;

	form{
		background: none;
		font-family: 'Oswald', sans-serif;

		h1{
			margin: 15px 0;
		}

		.form-inner{
			.animate(1s);
		}

		label{
			.h4;
			color: @white;
			margin: 30px 0 10px 0;
			display: inline-block;
			width: 100%;
			font-weight: 300;
		}

		input[type="text"], input[type="email"], textarea, select{
			.animate;
			outline: none;

			&:focus{
				border: 1px solid #1F74BA;
			}
		}

		input[type="text"], input[type="email"], select{
			height: 50px;
			font-weight: 300;
		}

		input[type="text"], input[type="email"], textarea, select{
			border: 1px solid @borderblue;
			background: none;
			width: 100%;
			padding: 15px;

			&.error{
				border: 1px solid #f00;
			}
		}

		.submit-wrapper, input[type="submit"]{
			.h4;
			margin-top: 30px;
			color: @white;
			padding: 10px 15px; 
			background: @midblue2;
			border: none;
		}
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Standard syntax */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.menu-offset{
	margin-left: 69px;
	padding-left: 0;
	border-left: 1px solid @borderblue;

	&.load-animation{
		opacity: 0;
		.animate(1s);

		&.display-content{
			opacity: 1;
		}
	}
}

.nicescroll-rails{
	z-index: 10;
}