html,
body {
  background: #141524;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #ffffff;
}
#menu {
  background-color: #141524;
  border-right: 1px solid #1e1f32;
}
#menu.menu-active {
  opacity: 0.8;
}
.standard {
  padding-top: 20px;
}
.big-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.big-list.half-col li {
  width: 50%;
  border-top: 1px solid #1e1f32;
}
.big-list.half-col li:first-child {
  border-top: 1px solid #1e1f32;
}
.big-list li {
  float: left;
  display: inline-block;
  width: 25%;
  border-left: 1px solid #1e1f32;
  text-align: center;
  min-height: 200px;
  padding-top: 80px;
}
.big-list li:first-child {
  border: none;
}
@media all and (max-width: 800px) {
  .big-list,
  .big-list.half-col {
    width: 100%;
    float: left;
    display: inline-block;
  }
  .big-list li,
  .big-list.half-col li {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    min-height: initial;
    border-left: 0;
    text-align: left;
  }
}
